<footer class="footer">
  <div class="container">
    <div class="content has-text-centered has-text-dark">
      <small>
        <a class="button is-small is-rounded" id="btnOpenPrivacyPolicy">
          <i class="far fa-file-alt fa-fw"></i> Datenschutzerklärung
        </a>
        <a class="button is-small is-rounded" href="https://github.com/rabalyn/syncOrder" target="_blank">
          <i class="fab fa-github fa-fw"></i> Source
        </a>
      </small>
    </div>
  </div>
  <script src="dist/footer.bundle.js"></script>
</footer>
