<link rel="stylesheet" href="css/statistic.css">

<div class="card text-center">
  <div class="card-header">
     <h1>Statistik</h1>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="row justify-content-center">
        CARD TEXT
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    FOOTER
  </div>
</div>

<script src="js/statistic.js"></script>